body {
}
#menu ul {
  list-style: none;
}
    #menu ul li {
    background-color:blue
    border:solid 1px white;
    width:120px;
    height:35px;
    line-height:35px;
    text-align:center;
    float:right;
    }
        #menu ul li a:hover {
            background-color:blue;
            color:white;

        }