header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: navy;
}
h1 {
  display: block;
  background-color: lightblue;
  margin-left: 15px;
  padding: 5px;
}
#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  border-bottom: solid 5px;
  width: 120px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  float: right;
  margin-right: 10px;
  font-size: 25px;
  color: black;
}
#menu ul li a:hover {
  background-color: red;
  color: white;
}

/* Portfolio section */
.grid-container {
  display: grid;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: 50% 50%;
}
.grid-item-1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
#about-me > p {
  margin: 0;
}
.avatar {
  color: lightblue;
  padding: 50px;
  width: 10%;
  margin-left: 400px;
  height: 20%;
  background-image: url(../Images/Mike.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
section {
  display: flex;
  font-size: 30px;
  padding: 30px;
  border: 60px;
  color: black;
}
.summary {
  font-size: 15px;
  margin-left: 15px;
  padding-top: 0%;
}
.information {
  border-right: solid 5px blue;
  text-align: right;
  margin: 0;
}
body {
  background-color: rgb(229, 234, 236);
}
.information > h2 {
  margin: 0;
  padding: 15px;
  min-width: 188px;
  display: flex;
}
.media > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}
.media {
  width: 70%;
}
.middle {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-left: 20px;
}
.middle > div {
  width: 75%;
}
.middle .work {
  width: 80%;
}
.work {
  border: solid;
  line-height: 15;
  margin: 20px;
  width: 1000px;
  text-align: bottom;
  color: lightblue;
  background-image: url(../Images/Movie-Buffs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.password-generator {
  border: solid;
  color: black;
  line-height: 5;
  padding: 50px;
  background-image: url(../Images/Password-Generator.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.day-planner {
  border: solid;
  color: black;
  line-height: 5;
  padding: 50px;
  background-image: url(../Images/Day-Planner.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.weather-dashboard {
  border: solid;
  color: black;
  line-height: 5;
  padding: 50px;
  margin-top: 20px;
  background-image: url(../Images/Open-Weather-Map.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.code-quiz {
  border: solid;
  color: black;
  line-height: 5;
  padding: 50px;
  margin-top: 20px;
  background-image: url(../Images/Code-Quiz.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.project-text {
  margin-top: 80px;
  margin-bottom: 0px;
}
